{% extends "polls/base.html" %}
{% block base %}
<!-- end page title -->
<!--                        问题列表-->
  <div class="row">
      <div class="col-lg-6 col-xl-3" style="width: 100%">
          <div class="card">
              <div class="card-body">
                  <div class="row align-items-center">
                      <div class="col-6">
                          <form action="{% url 'polls:vote' question.id %}" method="post">
                            {% csrf_token %}
                            <fieldset>
                                <legend><h1>{{ question.question_text }}</h1></legend>
                                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                                {% for choice in question.choice_set.all %}
                                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                                {% endfor %}
                            </fieldset>
                              <button type="submit" class="input-group-text btn-primary" value="Vote">Vote</button>
<!--                            <input type="submit" value="Vote">-->
                          </form>

                      </div>
                  </div> <!-- end row-->
              </div> <!-- end card-body -->
          </div> <!-- end card -->
      </div> <!-- end col -->
</div>
<!-- container -->
{% endblock %}





